@import url("/Style.css");

#messaging-window {
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 1px solid var(--primary-color);
    height: 70vh;
    overflow: hidden;
}

#messages-panel {
    display: flex;
    flex-direction: column;
    padding: 4px;
    width: 40%;
    overflow: auto;
}

#message-new-provider {
    width: 90%;
    margin: 8px 0;
}

#new-message-background {
    background-color: var(--background-color);
    padding: 4px auto;
    margin-top: auto;
    width: 100%;
    display: flex;
}

#message-previews {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.chat-window {
    width: 60%;
    padding: 0.5em;
    border-left: 1px solid var(--primary-color);
    padding: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.message-preview-container:hover, .mesage-preview-container:active {
    background-color: var(--tertiary-color);
}

.message-preview-container:not(:last-child) {
    border-bottom: 1px solid var(--tertiary-color);
}

.chat-bubble {
    width: 50%;
    height: auto;
    padding: 4px;
    border-radius: 8px;
}

.reciever {
    align-self: flex-start;
    background-color: var(--tertiary-color);
    color: #FFF;
}

.sender {
    align-self: flex-end;
    background-color: var(--secondary-color);
    color: #FFF;
}

#chat-messages {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    overflow-y: auto;
}

#chat-message-input-options {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 4px;
    position: relative;

    #message-input {
        width: 85%;
    }
    
    #upload-media-button {
        width: 5%;
        background-color: transparent;
    }
    
    #upload-media-button i:hover.fa-solid {
        color: var(--primary-color--active);
        cursor: pointer;
    }
    
    #send-button {
        width: 5%;
        background-color: transparent;
    }
    
    #send-button i:hover.fa-solid {
        color: var(--primary-color--active);
        cursor: pointer;
    }
}

