/* styling for the cards on the blog page*/

.card {
  display: flex;
  flex-direction: row;
  border: 1px solid var(--tertiary-color);
  border-radius: 5px;
  /* flex-direction: column; */
  padding: 0.5rem;
  width: 100%;
  height: 20vh;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  align-self: center;
}

.card:hover {
  cursor: pointer;
}

.card button {
  width: 60%;
  max-width: 20em;
  vertical-align: bottom;
  align-self: flex-end;
  border: none;
}

@media screen and (max-width: 560px) {
  .card button {
    display: none;
  }
}

.card button:hover {
  cursor: pointer;
}

/* Style the left side (i.e description) of the card */
.card-image {
  padding: 0.5em;
  > img {
    width: auto;
    height: 100%;
    border-radius: 5px;
  }
}

/* Style the right side (i.e description) of the card s*/
.card-description {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-content {
  height: 40%;
  overflow: hidden;
}

/* Style the card title */
.card-title {
  font-size: 18px;
  font-weight: bold;
}
